<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fnn.smirl.format.drc.constitution" 
	xmlns:tools="http://schemas.android.com/tools">
	
	<uses-permission 
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-sdk tools:overrideLibrary="android.support.v13" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_const_edit"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ConstitutionFormatter"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
			<activity
				android:name=".activities.Modification"
				android:label="Modification..." />
    </application>

</manifest>
